
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.wraper{
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  flex-basis: 100%  ;
}

.wraper-curriculum{
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  flex-basis: 100%;
}

.wraper-estudios{
  width: 100vw;
  height: 120vh;
  background-color: black;
  color: white;
  flex-basis: 100%;
}

.menu a{
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.brand span{
  color: red;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.menu li{
  list-style: none;
}

.menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu a:hover{
  background-color: white;
  color: red;
  transition: ease-in-out .6s;
}

.main{
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1{
  
  font-size: 3em;
}

span{
  color: red;
}


.info-content{
  flex-basis: 100%;
  align-items: center;
}
.info-img{
  flex-basis: 100%;
  
}
.info-img img{
  width: auto;
  border: 7px solid red;
  margin-left:  28%;
  
}

.info-img-outlook{
  flex-basis: 100%;
}

.info-img-outlook img{
  width: 20vw;
  height: 30vh;
  border: 7px solid red;
  margin-left:  28%;
  
}

.info-img-curriculum{
  flex-basis: 100%;
}

.info-img-curriculum img{
  width: 30vw;
  height: 70vh;
  border: 7px solid red;
  margin-left:  28%;
}

.info-img-estudios{
  flex-basis: 100%;
}

.info-img-estudios img{
  width: 20vw;
  height: 20vh;
  border: 7px solid red;
  margin-left:  28%;
  
}

.descargarcv {
  padding: 10px 20px;
  background-color: red;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.footer-curriculum{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh ;
  background-color: red;
  margin-top: 0%;
  margin-bottom: 0%;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh ;
  background-color: red;
  margin-top: 0%;
  margin-bottom: 0%;
  
  
}

.footer-estudios{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh ;
  background-color: red;
  margin-top: 0%;
  margin-bottom: 0%;
  position: absolute;
  bottom: -20%;
  
  
}

.footer-content h2{
 font-size: 3em;
}

.sotial-network{
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin-top: 1em;
  text-decoration: none;
  list-style: none;

}

@media (max-width: 680px){
  .menu{
    flex-direction: column;
  }
  .menu li{
    padding-top: 3em;

  }
  .main{
    flex-direction: column;
    
  }

  .wraper{
    width: 100vw;
    height: 120vh;
    background-color: black;
    color: white;
    flex-basis: 100%  ;
  }

  .wraper-curriculum{
    width: 100vw;
    height: 220vh;
    background-color: black;
    color: white;
    flex-basis: 100%;
  }
  
.wraper-estudios{
    width: 100vw;
    height: 160vh;
    background-color: black;
    color: white;
    flex-basis: 100%;
}

  .info-img img{
    width: auto;
    border: 7px solid red;
    margin-left:  2%;
    margin-bottom: 20%;
    
  }
  
  

  .info-img-outlook img{
    width: 30vw;
    height: 30vh;
    border: 7px solid red;
    margin-left:  2%;
    margin-bottom: 50%;
    
  }

  .info-img-curriculum img{
    width: 90vw;
    height: 80vh;
    border: 7px solid red;
    margin-left:  2%;
    margin-top: 50%;
    margin-bottom: 20%;
  }

  

  .footer{
    margin-top: 0%;
    position: absolute;
    bottom: -29%;
    
  }
  
.footer-curriculum{
    margin-top: 0%;
    position: absolute;
    bottom: -130%;
    
}

.footer-estudios{
    margin-top: 0%;
    position: absolute;
    bottom: -70%;
}

.info-img-estudios img{
  width: 50vw;
  height: 20vh;
  border: 7px solid red;
  margin-left:  2%;
  
} 

  .footer-content h2{
    font-size: 1em;
   }




}